{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "propose-a-component-or-pattern" %}
{% set pageTitle = "Propose a component or pattern
" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>



{% endblock %}

