{{ appSubNavigation({
  items: [
    {
      text: 'Add another',
      href: '/components/add-another',
      selected: pageId == 'add-another'
    },
    {
      text: 'Component 2',
      href: '/components/component-2',
      selected: pageId == 'component-2'
    },
    {
      text: 'Component 3',
      href: '/components/component-3',
      selected: pageId == 'component-3'
    },
    {
      text: 'Component 4',
      href: '/components/component-4',
      selected: pageId == 'component-4'
    },
    {
      text: 'Component 5',
      href: '/components/component-5',
      selected: pageId == 'component-5'
    }
  ]
}) }}
