{{ appSubNavigation({
  items: [
    {
      text: 'Add another',
      href: '/components/add-another',
      selected: pageId == 'add-another'
    },
    {
      text: 'Currency input',
      href: '/components/currency-input',
      selected: pageId == 'currency-input'
    },
    {
      text: 'Form validator',
      href: '/components/form-validator',
      selected: pageId == 'form-validator'
    },
    {
      text: 'Header',
      href: '/components/header',
      selected: pageId == 'header'
    },
    {
      text: 'Organisation switcher',
      href: '/components/organisation-switcher',
      selected: pageId == 'organisation-switcher'
    },
    {
      text: 'Password reveal',
      href: '/components/password-reveal',
      selected: pageId == 'password-reveal'
    },
    {
      text: 'Primary navigation',
      href: '/components/primary-navigation',
      selected: pageId == 'primary-navigation'
    },
    {
      text: 'Rich text editor',
      href: '/components/rich-text-editor',
      selected: pageId == 'rich-text-editor'
    },
    {
      text: 'Search',
      href: '/components/search',
      selected: pageId == 'search'
    },
    {
      text: 'Sub navigation',
      href: '/components/sub-navigation',
      selected: pageId == 'sub-navigation'
    }
  ]
}) }}
