{{ appSubNavigation({
  items: [
    {
      text: 'Add another',
      href: '/components/add-another',
      selected: pageId == 'add-another'
    },
    {
      text: 'Badge',
      href: '/components/badge',
      selected: pageId == 'badge'
    },
    {
      text: 'Banner',
      href: '/components/banner',
      selected: pageId == 'banner'
    },
    {
      text: 'Currency input',
      href: '/components/currency-input',
      selected: pageId == 'currency-input'
    },
    {
      text: 'Filter',
      href: '/components/filter',
      selected: pageId == 'filter'
    },
    {
      text: 'Form validator',
      href: '/components/form-validator',
      selected: pageId == 'form-validator'
    },
    {
      text: 'Header',
      href: '/components/header',
      selected: pageId == 'header'
    },
    {
      text: 'Identity bar',
      href: '/components/identity-bar',
      selected: pageId == 'identity-bar'
    },
    {
      text: 'Menu',
      href: '/components/menu',
      selected: pageId == 'menu'
    },
    {
      text: 'Messages',
      href: '/components/messages',
      selected: pageId == 'messages'
    },
    {
      text: 'Multi file upload',
      href: '/components/multi-file-upload',
      selected: pageId == 'multi-file-upload'
    },
    {
      text: 'Multi select',
      href: '/components/multi-select',
      selected: pageId == 'multi-select'
    },
    {
      text: 'Notification badge',
      href: '/components/notification-badge',
      selected: pageId == 'notification-badge'
    },
    {
      text: 'Organisation switcher',
      href: '/components/organisation-switcher',
      selected: pageId == 'organisation-switcher'
    },
    {
      text: 'Page header actions',
      href: '/components/page-header-actions',
      selected: pageId == 'page-header-actions'
    },
    {
      text: 'Pagination',
      href: '/components/pagination',
      selected: pageId == 'pagination'
    },
    {
      text: 'Password reveal',
      href: '/components/password-reveal',
      selected: pageId == 'password-reveal'
    },
    {
      text: 'Primary navigation',
      href: '/components/primary-navigation',
      selected: pageId == 'primary-navigation'
    },
    {
      text: 'Rich text editor',
      href: '/components/rich-text-editor',
      selected: pageId == 'rich-text-editor'
    },
    {
      text: 'Search',
      href: '/components/search',
      selected: pageId == 'search'
    },
    {
      text: 'Side navigation',
      href: '/components/side-navigation',
      selected: pageId == 'side-navigation'
    },
    {
      text: 'Sortable table',
      href: '/components/sortable-table',
      selected: pageId == 'sortable-table'
    },
    {
      text: 'Sub navigation',
      href: '/components/sub-navigation',
      selected: pageId == 'sub-navigation'
    },
    {
      text: 'Tag',
      href: '/components/tag',
      selected: pageId == 'tag'
    },
    {
      text: 'Timeline',
      href: '/components/timeline',
      selected: pageId == 'timeline'
    }
  ]
}) }}
