{% extends "govuk/template.njk" %}

{%- from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner -%}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% block pageStyles %}
    <style>
      .app-phase-banner {
        border: none;
      }
    </style>
  {% endblock %}

{% endblock %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'HMPPS',
      href: '#'
    },
    serviceLabel: {
      text: 'Manage prisoner money',
      href: '#'
    },
    navigation: {
    label: 'Account navigation',
    items: [{
        text: 'Account',
        href: '#'
      }, {
        text: 'Sign out',
        href: '#'
      }]
    }
  }) }}

  <div class="moj-width-container">
    {{ govukPhaseBanner({
      classes: 'app-phase-banner',
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
      text: 'Item 1',
      href: '#1'
    }, {
      text: 'Item 2',
      href: '#2'
    }, {
      text: 'Item 3',
      href: '#2'
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Item 1',
    href: '#1'
  }, {
    text: 'Item 2',
    href: '#2',
    active: true
  }, {
    text: 'Item 3',
    href: '#3'
  }, {
    text: 'Item 4',
    href: '#3'
  }]
  }) }}

  <h1 class="govuk-heading-xl">Page title</h1>

{% endblock %}

{% block footer %}
  {{ govukFooter({}) }}
{% endblock %}

