{% extends "../../layouts/guidance.html" %}

{% set sectionId = "get-started" %}
{% set sectionTitle = "How to guides" %}
{% set pageId = "deploying-your-prototype" %}
{% set pageTitle = "Deploying your prototype" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle | default('Get started') }} </span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

{% endblock %}
