{% extends "../../layouts/guidance.html" %}

{% set sectionId = "components" %}
{% set pageId = "component-1" %}
{% set pageTitle = "Component 1" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Components</span> {{ pageTitle }}</h1>

  {{ govukTag({
    classes: 'govuk-!-margin-bottom-8',
    text: 'experimental'
  }) }}

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>



{% endblock %}