{{ appSubNavigation({
  items: [
    {
      text: 'Style 1',
      href: '/styles/style-1',
      selected: pageId == 'style-1'
    },
    {
      text: 'Style 2',
      href: '/styles/style-2',
      selected: pageId == 'style-2'
    },
    {
      text: 'Style 3',
      href: '/styles/style-3',
      selected: pageId == 'style-3'
    },
    {
      text: 'Style 4',
      href: '/styles/style-4',
      selected: pageId == 'style-4'
    },
    {
      text: 'Style 5',
      href: '/styles/style-5',
      selected: pageId == 'style-5'
    }
  ]
}) }}
