{% extends "../../layouts/guidance.html" %}

{% set sectionId = "styles" %}
{% set sectionTitle = "Styles" %}
{% set pageId = "page-template" %}
{% set pageTitle = "Page template" %}

{% block subNav %}
  {% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">{{ sectionTitle | default('Styles') }} </span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

{% endblock %}
