{% extends "../../layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageId = "develop-a-component-or-pattern" %}
{% set pageTitle = "Develop a component or pattern" %}

{% block subNav %}
{% include "../navigation.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community</span> {{ pageTitle }}</h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

  {{ appPanel({
      titleText: "Get in touch",
      html: "If you’ve got a question, idea or suggestion share it in #design-system channel on Slack or email the Design System team on <a class='app-panel__link' href='mailto:design-sytem@digital.justice.gov.uk'>design-sytem@digital.justice.gov.uk</a>"
    })
  }}

{% endblock %}

