{{ appSubNavigation({
  sections: [{
    items: [{
      text: 'Backlog',
      href: '/community/backlog',
      selected: pageId == 'backlog'
    },
    {
      text: 'Propose a component or pattern',
      href: '/community/propose-a-component-or-pattern',
      selected: pageId == 'propose-a-component-or-pattern'
    },
    {
      text: 'Develop a component or pattern',
      href: '/community/develop-a-component-or-pattern',
      selected: pageId == 'develop-a-component-or-pattern'
    },
    {
      text: 'Contribution criteria',
      href: '/community/contribution-criteria',
      selected: pageId == 'contribution-criteria'
    },
    {
      text: 'Design System Working Group',
      href: '/community/design-system-working-group',
      selected: pageId == 'design-system-working-group'
    }]
  }]
}) }}
