{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      text: 'Get help',
      href: '/patterns/get-help',
      selected: pageId == 'get-help'
    },
    {
      text: 'Filter a list',
      href: '/patterns/filter-a-list',
      selected: pageId == 'filter-a-list'
    },
    {
      text: 'Manage a list',
      href: '/patterns/manage-a-list',
      selected: pageId == 'manage-a-list'
    },
    {
      text: 'Search for something',
      href: '/patterns/search-for-something',
      selected: pageId == 'search-for-something'
    },{
      text: 'Take action',
      href: '/patterns/take-action',
      selected: pageId == 'take-action'
    },{
      text: 'Upload files',
      href: '/patterns/upload-files',
      selected: pageId == 'upload-files'
    }]
  }]
}) }}
