{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      text: 'Get support',
      href: '/patterns/get-support',
      selected: pageId == 'get-support'
    },
    {
      text: 'Pattern 2',
      href: '/patterns/pattern-2',
      selected: pageId == 'pattern-2'
    },
    {
      text: 'Pattern 3',
      href: '/patterns/pattern-3',
      selected: pageId == 'pattern-3'
    }]
  },
  {
    heading: {
      text: 'Section 2'
    },
    items: [{
      text: 'Pattern 4',
      href: '/patterns/pattern-4',
      selected: pageId == 'pattern-4'
    },
    {
      text: 'Pattern 5',
      href: '/patterns/pattern-5',
      selected: pageId == 'pattern-5'
    }]
  },
  {
    heading: {
      text: 'Section 3'
    },
    items: [{
      text: 'Pattern 6',
      href: '/patterns/pattern-6',
      selected: pageId == 'pattern-6'
    }]
  }]
}) }}
