{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Help users to...'
    },
    items: [{
      text: 'Get support',
      href: '/patterns/get-support',
      selected: pageId == 'get-support'
    },
    {
      text: 'Filter a list',
      href: '/patterns/filter-a-list',
      selected: pageId == 'filter-a-list'
    },
    {
      text: 'Manage items in a list',
      href: '/patterns/manage-items-in-a-list',
      selected: pageId == 'manage-items-in-a-list'
    },
    {
      text: 'Perform an action',
      href: '/patterns/perform-an-action',
      selected: pageId == 'perform-an-action'
    },
    {
      text: 'Search for something',
      href: '/patterns/search-for-something',
      selected: pageId == 'search-for-something'
    },
    {
      text: 'Be informed of downtime',
      href: '/patterns/be-informed-of-downtime',
      selected: pageId == 'be-informed-of-downtime'
    }]
  }]
}) }}
