/* ==========================================================================
   #NAV
   ========================================================================== */

.app-pane__nav {
  background-color: govuk-colour("light-grey");
}

.app-nav {
  @include govuk-font(19);
  margin-left: -15px;
}

.app-nav__list {
  display: flex;
  list-style: none;
  margin: 0 0 0px;
  padding: 0;
  white-space: nowrap;

  @include govuk-media-query($until: tablet) {
    overflow-y: scroll;
  }

}

.app-nav__list-item {
  display: flex;

  a,
  a:link,
  a:visited {
    border-bottom: 4px solid transparent;
    color: govuk-colour("blue");
    display: block;
    font-weight: bold;
    padding: govuk-spacing(3);
    padding-bottom: govuk-spacing(3) - 4px; // Compensate for 4px border
    text-decoration: none;
  }

  a:hover {
    border-bottom-color: govuk-colour("light-blue");
  }

  a:focus {
    position: relative;
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    border-bottom-color: $govuk-focus-text-colour;
    box-shadow: none;
  }

}

.app-nav__list-item--selected a:link,
.app-nav__list-item--selected a:visited {
  border-bottom-color: govuk-colour("blue");
  color: govuk-colour("blue");
}

.app-nav__list-item--selected a:focus {
  position: relative;
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
  border-bottom-color: $govuk-focus-text-colour;
  box-shadow: none;
}
