/* ==========================================================================
   #BUTTON
   ========================================================================== */

.app-button-start,
.app-button-start:link,
.app-button-start:visited {
  @include govuk-font($size: 19, $weight: bold);
  background: govuk-colour("white") url("/public/images/app-icon-pointer.svg") no-repeat 100% 50%;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.50);
  color: govuk-colour("blue");
  display: block;
  padding-bottom: govuk-spacing(2);
  padding-left: govuk-spacing(3);
  padding-right: 38px;
  padding-top: govuk-spacing(2);
  text-align: center;
  text-decoration: none;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
  }

}
