{% extends "./layouts/landing.html" %}

{% set sectionId = "" %}
{% set pageTitle = "Get in touch" %}

{% block pageContent %}
<main class="govuk-main-wrapper app-content" role="main">
  <div class="govuk-width-container">

    <div class="app-prose-scope">
    {% markdown %}
      # Get in touch

      If you’ve got a question, idea or suggestion get in touch with the Design System team.

      ## Slack

      - On the MOJ Digital &amp; Technology Slack use [#moj-design-system](https://mojdt.slack.com/messages/moj-design-system)
      - On the cross-Government Slack [#moj-design-system](https://ukgovernmentdigital.slack.com/messages/moj-design-system)


      ## Email
      Email the Design System team on [design-system@digital.justice.gov.uk](mailto:design-system@digital.justice.gov.uk)
     {% endmarkdown %}
    </div>

  </div>
</main>
{% endblock %}
