<div class="app-pane__header">

  <header class="app-header">

    <a class="app-header__link" href="/">

      <span class="app-header__logotype">
        <svg class="app-header__logotype-crest" width="50px" height="42px" aria-hidden="true" focusable="false"><use xlink:href="#app-header-crest" href="#app-header-crest"></use></svg><span class="app-header__logotype-text">Ministry of Justice</span>
      </span>

      <span class="app-header__title">Design System</span>

    </a>

  </header>

</div>
