{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'How we work'
    },
    items: [{
      text: 'Our approach',
      href: '/get-started/our-approach',
      selected: pageId == 'our-approach'
    },
    {
      text: 'Prototyping',
      href: '/get-started/prototyping',
      selected: pageId == 'prototyping'
    },
    {
      text: 'Production',
      href: '/get-started/production',
      selected: pageId == 'production'
    }]
  },
  {
    heading: {
      text: 'Common user needs'
    },
    items: [{
      text: 'Common needs of citizens',
      href: '/get-started/common-needs-of-citizens',
      selected: pageId == 'common-needs-of-citizens'
    },
    {
      text: 'Common needs of the Judiciary',
      href: '/get-started/common-needs-of-the-judiciary',
      selected: pageId == 'common-needs-of-the-judiciary'
    },
    {
      text: 'Common needs of legal professionals',
      href: '/get-started/common-needs-of-legal-professionals',
      selected: pageId == 'common-needs-of-legal-professionals'
    }]
  },
  {
    heading: {
      text: 'Contributing to the design system'
    },
    items: [{
      text: 'Community backlog',
      href: '/get-started/community-backlog',
      selected: pageId == 'community-backlog'
    },
    {
      text: 'Propose a component or pattern',
      href: '/get-started/propose-a-component-or-pattern',
      selected: pageId == 'propose-a-component-or-pattern'
    },
    {
      text: 'Contribution criteria',
      href: '/get-started/contribution-criteria',
      selected: pageId == 'contribution-criteria'
    }]
  }]
}) }}
