{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'Section 1'
    },
    items: [{
      text: 'Content 1',
      href: '/get-started/content-1',
      selected: pageId == 'content-1'
    },
    {
      text: 'Content 2',
      href: '/get-started/content-2',
      selected: pageId == 'content-2'
    },
    {
      text: 'Content 3',
      href: '/get-started/content-3',
      selected: pageId == 'content-3'
    }]
  },
  {
    heading: {
      text: 'Section 2'
    },
    items: [{
      text: 'Content 4',
      href: '/get-started/content-4',
      selected: pageId == 'content-4'
    },
    {
      text: 'Content 5',
      href: '/get-started/content-5',
      selected: pageId == 'content-5'
    }]
  },
  {
    heading: {
      text: 'Section 3'
    },
    items: [{
      text: 'Content 6',
      href: '/get-started/content-6',
      selected: pageId == 'content-6'
    }]
  }]
}) }}
