{{ appSubNavigation({
  sections: [
  {
    heading: {
      text: 'How we work'
    },
    items: [{
      text: 'Our approach',
      href: '/get-started/our-approach',
      selected: pageId == 'our-approach'
    },
    {
      text: 'Prototyping',
      href: '/get-started/prototyping',
      selected: pageId == 'prototyping'
    },
    {
      text: 'Production',
      href: '/get-started/production',
      selected: pageId == 'production'
    }]
  },
  {
    heading: {
      text: 'Common user needs'
    },
    items: [{
      text: 'Common needs of citizens',
      href: '/get-started/common-needs-of-citizens',
      selected: pageId == 'common-needs-of-citizens'
    },
    {
      text: 'Common needs of the Judiciary',
      href: '/get-started/common-needs-of-the-judiciary',
      selected: pageId == 'common-needs-of-the-judiciary'
    },
    {
      text: 'Common needs of legal professionals',
      href: '/get-started/common-needs-of-legal-professionals',
      selected: pageId == 'common-needs-of-legal-professionals'
    }]
  }]
}) }}
