{%- from "phase-banner/macro.njk" import govukPhaseBanner -%}
{%- from "tag/macro.njk" import govukTag -%}
{%- from "moj-banner/macro.njk" import mojBanner -%}

{%- from "../../components/panel/macro.njk" import appPanel -%}
{%- from "../../components/nav/macro.njk" import appNavigation -%}
{%- from "../../components/subnav/macro.njk" import appSubNavigation -%}

{%- from "../../components/example/macro.njk" import dsExample -%}

<!DOCTYPE html>
<html class="app-template" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }} - MoJ Design System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c">

  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-180x180.png" sizes="180x180">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-167x167.png" sizes="167x167">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon-152x152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/public/images/moj-apple-touch-icon.png">

  <meta name="description" content="Design your service using MoJ styles, components and patterns">
  <meta property="og:image" content="/public/images/moj-opengraph-image.png">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

  <!--[if lt IE 9]>
    <script src="/public/javascripts/vendor/html5shiv-3.7.3.min.js"></script>
  <![endif]-->
</head>
<body class="app-template__body">

  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% block body %}{% endblock %}

  {% include "./partials/crest-svg.html" %}

  {% block bodyEnd %}
    {% block scripts %}
      {% include "./partials/scripts.html" %}
      {% block pageScripts %}{% endblock %}
    {% endblock %}
  {% endblock %}

</body>
</html>
