{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/details/macro.njk"       import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/label/macro.njk"         import govukLabel %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/tag/macro.njk"           import govukTag %}
{% from "govuk/components/textarea/macro.njk"      import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"  import govukWarningText %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
{% endblock %}

{% block pageTitle %}
  Kit layout
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}


{% block bodyEnd %}
  {% block scripts %}
    <!-- Javascript -->
    <script src="/public/javascripts/vendor/jquery.min.js"></script>
    <script src="/node_modules/govuk-frontend/govuk/all.js"></script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
